<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuroot.dao.UndeterminedUserDao">
    <select id="getAllUndeterminedUserPage" resultType="UndeterminedUser">
        <bind name="offset" value="(pageIndex-1)*pageSize"/>
        select * from undetermined_users
        <where>
            <if test="realName !=null and realName !=''">
                `real_name` like concat('%',#{realName},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
            <if test="level !=null">
                and `level` = #{level}
            </if>
            <if test="classId!=null">
                and `class_id` = #{classId}
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <select id="getAllUndeterminedUserCount" resultType="int">
        select count(*) from undetermined_users
        <where>
            <if test="realName !=null and realName !=''">
                `real_name` like concat('%',#{realName},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
            <if test="level !=null">
                and `level` = #{level}
            </if>
            <if test="classId!=null">
                and `class_id` = #{classId}
            </if>
        </where>
    </select>
</mapper>