<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuroot.dao.UserDao">
    <select id="getAllUserPage" resultType="user">
        <bind name="offset" value="(pageIndex-1)*pageSize" />
        select user_id, username, real_name,email,class_id,phone,sex,created_at, role from users
        <where>
            <if test="real_name !=null and real_name !=''">
                `real_name` like concat('%',#{real_name},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <select id="getAllUserCount" resultType="int">
        select count(*) from users
        <where>
            <if test="real_name !=null and real_name !=''">
                `real_name` like concat('%',#{real_name},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
        </where>
    </select>
    <select id="getUserByClassId" resultType="user">
        select user_id, username, real_name,email,class_id,phone,sex,created_at, role from users
        <where>
            <if test="real_name !=null and real_name !=''">
                `real_name` like concat('%',#{real_name},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
            <if test="class_id!=null">
                and `class_id` = #{class_id}
            </if>
            and `class_id` = #{class_id}
        </where>
    </select>
    <select id="getUserByClassIdCount" resultType="int">
        select count(*) from users
        <where>
            <if test="real_name !=null and real_name !=''">
                `real_name` like concat('%',#{real_name},'%')
            </if>
            <if test="role !=null and role > 0">
                and `role` = #{role}
            </if>
            <if test="class_id!=null">
                and `class_id` = #{class_id}
            </if>
        </where>

    </select>
</mapper>
